PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://ProjetM1G2:Thc8XKw6dpfs0Aag@projetm1g2.vmsnfdz.mongodb.net/?retryWrites=true&w=majority&appName=ProjetM1G2
JWT_SECRET=superSecretKey
CLIENT_URL=http://localhost:3000
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760